<!--Footer Section-->
<section>
    <footer class="bg-dark text-white">
        
        <div class="bg-dark text-white p-0">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-8 col-sm-12  mt-2 mb-2 text-left ">
                        Copyright © 2020 <a href="@Url.Action("Index", "Global")" class="fs-14 text-primary">Fideros</a>. Powered by <a href="http://www.kinasys.com/Global/webcontact" target="_blank" class="fs-14 text-primary">KINASYS</a> All rights reserved.
                    </div>
                    <div class="col-lg-4 col-sm-12 ml-auto mb-2 mt-2">
                        <ul class="social mb-0">
                            <li>
                                <a class="social-icon" href="" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a class="social-icon" href=""><i class="fa fa-twitter" target="_blank"></i></a>
                            </li>
                            <li>
                                <a class="social-icon" href="https://wa.me/41788429005?text=Information&nbsp;sur&nbsp;Fideros" target="_blank"><i class="fa fa-whatsapp"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-dark text-white p-0 border-top">
            <div class="container">
                <div class="p-2 text-center footer-links">
                    <a href="@Url.Action("Aboutus", "Global")" class="btn btn-link">A propos</a>
                    <a href="@Url.Action("Aboutus", "Global")" class="btn btn-link">Mention Légale</a>
                    <a href="@Url.Action("Privacy-notice", "Global")" class="btn btn-link">Confidentialité</a>
                    <a href="@Url.Action("Webcontact", "Global")" class="btn btn-link">Nous contacter</a>
                </div>
            </div>
        </div>
    </footer>
</section>